# Test output
secret/
nginx/cert/
htmlcov/
.pytest_cache/
node_modules/
dist/
build/
docker-volume/
volumes/
data/
.vscode/
.idea/
__pycache__/
.venv/
venv/

# files:
*.env
*.env.*
ehthumbs.db
desktop.ini
*.orig
*.rej
*.log
*.tmp
*.bak
coverage.xml
nosetests.xml
junit.xml
*.pyc
*.pyo
*.pem
*.key
.DS_Store
Thumbs.db
*.swp
*.swo
.mypy_cache/

#env
.env
